# Etude de cas - LivraisonCo

## Requirements

In [ ]:
import pandas as pd

## Preliminary data exploration

### Champs Elysees

In [ ]:
df_chmps = pd.read_csv("/content/drive/MyDrive/CentraleSupelec/3A/BCG_datathon/Data/champs-elysees.csv",delimiter=";")

In [ ]:
df_chmps

,Identifiant arc,Libelle,Date et heure de comptage,Débit horaire,Taux d'occupation,Etat trafic,Identifiant noeud amont,Libelle noeud amont,Identifiant noeud aval,Libelle noeud aval,Etat arc,Date debut dispo data,Date fin dispo data,geo_point_2d,geo_shape
0,4264,AV_Champs_Elysees,2022-01-01T11:00:00+01:00,524.0,8.85667,Fluide,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."
1,4264,AV_Champs_Elysees,2022-01-01T07:00:00+01:00,491.0,7.71611,Fluide,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."
2,4264,AV_Champs_Elysees,2022-01-01T19:00:00+01:00,997.0,46.28889,Saturé,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."
3,4264,AV_Champs_Elysees,2022-01-01T18:00:00+01:00,1096.0,46.60222,Saturé,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."
4,4264,AV_Champs_Elysees,2022-01-01T09:00:00+01:00,258.0,3.75445,Fluide,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9157,4264,AV_Champs_Elysees,2022-09-01T03:00:00+02:00,396.0,4.35834,Fluide,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."
9158,4264,AV_Champs_Elysees,2022-08-01T04:00:00+02:00,274.0,3.19278,Fluide,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."
9159,4264,AV_Champs_Elysees,2022-08-01T03:00:00+02:00,431.0,5.57778,Fluide,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."
9160,4264,AV_Champs_Elysees,2022-08-01T02:00:00+02:00,526.0,7.41333,Fluide,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."
9161,4264,AV_Champs_Elysees,2022-08-01T01:00:00+02:00,796.0,14.38444,Fluide,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."

In [ ]:
df_chmps.head(5)

,Identifiant arc,Libelle,Date et heure de comptage,Débit horaire,Taux d'occupation,Etat trafic,Identifiant noeud amont,Libelle noeud amont,Identifiant noeud aval,Libelle noeud aval,Etat arc,Date debut dispo data,Date fin dispo data,geo_point_2d,geo_shape
0,4264,AV_Champs_Elysees,2022-01-01T11:00:00+01:00,524.0,8.85667,Fluide,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."
1,4264,AV_Champs_Elysees,2022-01-01T07:00:00+01:00,491.0,7.71611,Fluide,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."
2,4264,AV_Champs_Elysees,2022-01-01T19:00:00+01:00,997.0,46.28889,Saturé,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."
3,4264,AV_Champs_Elysees,2022-01-01T18:00:00+01:00,1096.0,46.60222,Saturé,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."
4,4264,AV_Champs_Elysees,2022-01-01T09:00:00+01:00,258.0,3.75445,Fluide,2294,Av_Champs_Elysees-Washington,2293,Av_Champs_Elysees-Berri,Invalide,2005-01-01,2019-06-01,"48.871535879911605,2.301722792456062","{""coordinates"": [[2.3009951475, 48.8717770435]..."

In [ ]:
pd.get_dummies(df_chmps["Etat trafic"])

      Bloqué  Fluide  Inconnu  Pré-saturé  Saturé
0          0       1        0           0       0
1          0       1        0           0       0
2          0       0        0           0       1
3          0       0        0           0       1
4          0       1        0           0       0
...      ...     ...      ...         ...     ...
9157       0       1        0           0       0
9158       0       1        0           0       0
9159       0       1        0           0       0
9160       0       1        0           0       0
9161       0       1        0           0       0

[9162 rows x 5 columns]

In [ ]:
pd.get_dummies(df_chmps["Etat trafic"])

In [ ]:
pd.get_dummies(df_chmps["Etat arc"])

      Barré  Invalide
0         0         1
1         0         1
2         0         1
3         0         1
4         0         1
...     ...       ...
9157      0         1
9158      0         1
9159      0         1
9160      0         1
9161      0         1

[9162 rows x 2 columns]

### Convention

In [ ]:
df_cnvt = pd.read_csv("/content/drive/MyDrive/CentraleSupelec/3A/BCG_datathon/Data/convention.csv",delimiter=";")

In [ ]:
df_cnvt

,Identifiant arc,Libelle,Date et heure de comptage,Débit horaire,Taux d'occupation,Etat trafic,Identifiant noeud amont,Libelle noeud amont,Identifiant noeud aval,Libelle noeud aval,Etat arc,Date debut dispo data,Date fin dispo data,geo_point_2d,geo_shape
0,5671,Convention,2021-12-02T21:00:00+01:00,683.0,4.35722,Fluide,2937,Lecourbe-Convention,2973,Convention-Blomet,Invalide,2005-01-01,2019-06-01,"48.838634372743535,2.2932056027175345","{""coordinates"": [[2.2918783063, 48.8392381071]..."
1,5671,Convention,2021-12-02T23:00:00+01:00,545.0,3.79334,Fluide,2937,Lecourbe-Convention,2973,Convention-Blomet,Invalide,2005-01-01,2019-06-01,"48.838634372743535,2.2932056027175345","{""coordinates"": [[2.2918783063, 48.8392381071]..."
2,5671,Convention,2021-12-02T16:00:00+01:00,982.0,9.22667,Fluide,2937,Lecourbe-Convention,2973,Convention-Blomet,Invalide,2005-01-01,2019-06-01,"48.838634372743535,2.2932056027175345","{""coordinates"": [[2.2918783063, 48.8392381071]..."
3,5671,Convention,2021-12-03T00:00:00+01:00,441.0,2.64722,Fluide,2937,Lecourbe-Convention,2973,Convention-Blomet,Invalide,2005-01-01,2019-06-01,"48.838634372743535,2.2932056027175345","{""coordinates"": [[2.2918783063, 48.8392381071]..."
4,5671,Convention,2021-12-02T14:00:00+01:00,793.0,5.16278,Fluide,2937,Lecourbe-Convention,2973,Convention-Blomet,Invalide,2005-01-01,2019-06-01,"48.838634372743535,2.2932056027175345","{""coordinates"": [[2.2918783063, 48.8392381071]..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9169,5671,Convention,2022-10-31T14:00:00+01:00,685.0,3.70889,Fluide,2937,Lecourbe-Convention,2973,Convention-Blomet,Invalide,2005-01-01,2019-06-01,"48.838634372743535,2.293205602717535","{""coordinates"": [[2.2918783062727064, 48.83923..."
9170,5671,Convention,2022-08-01T03:00:00+02:00,140.0,0.68445,Fluide,2937,Lecourbe-Convention,2973,Convention-Blomet,Invalide,2005-01-01,2019-06-01,"48.838634372743535,2.2932056027175345","{""coordinates"": [[2.2918783063, 48.8392381071]..."
9171,5671,Convention,2022-08-01T02:00:00+02:00,226.0,1.09111,Fluide,2937,Lecourbe-Convention,2973,Convention-Blomet,Invalide,2005-01-01,2019-06-01,"48.838634372743535,2.2932056027175345","{""coordinates"": [[2.2918783063, 48.8392381071]..."
9172,5671,Convention,2022-08-01T01:00:00+02:00,267.0,1.47611,Fluide,2937,Lecourbe-Convention,2973,Convention-Blomet,Invalide,2005-01-01,2019-06-01,"48.838634372743535,2.2932056027175345","{""coordinates"": [[2.2918783063, 48.8392381071]..."
9173,5671,Convention,2022-08-01T04:00:00+02:00,95.0,0.52000,Fluide,2937,Lecourbe-Convention,2973,Convention-Blomet,Invalide,2005-01-01,2019-06-01,"48.838634372743535,2.2932056027175345","{""coordinates"": [[2.2918783063, 48.8392381071]..."

In [ ]:
df_cnvt.head(5)

,Identifiant arc,Libelle,Date et heure de comptage,Débit horaire,Taux d'occupation,Etat trafic,Identifiant noeud amont,Libelle noeud amont,Identifiant noeud aval,Libelle noeud aval,Etat arc,Date debut dispo data,Date fin dispo data,geo_point_2d,geo_shape
0,5671,Convention,2021-12-02T21:00:00+01:00,683.0,4.35722,Fluide,2937,Lecourbe-Convention,2973,Convention-Blomet,Invalide,2005-01-01,2019-06-01,"48.838634372743535,2.2932056027175345","{""coordinates"": [[2.2918783063, 48.8392381071]..."
1,5671,Convention,2021-12-02T23:00:00+01:00,545.0,3.79334,Fluide,2937,Lecourbe-Convention,2973,Convention-Blomet,Invalide,2005-01-01,2019-06-01,"48.838634372743535,2.2932056027175345","{""coordinates"": [[2.2918783063, 48.8392381071]..."
2,5671,Convention,2021-12-02T16:00:00+01:00,982.0,9.22667,Fluide,2937,Lecourbe-Convention,2973,Convention-Blomet,Invalide,2005-01-01,2019-06-01,"48.838634372743535,2.2932056027175345","{""coordinates"": [[2.2918783063, 48.8392381071]..."
3,5671,Convention,2021-12-03T00:00:00+01:00,441.0,2.64722,Fluide,2937,Lecourbe-Convention,2973,Convention-Blomet,Invalide,2005-01-01,2019-06-01,"48.838634372743535,2.2932056027175345","{""coordinates"": [[2.2918783063, 48.8392381071]..."
4,5671,Convention,2021-12-02T14:00:00+01:00,793.0,5.16278,Fluide,2937,Lecourbe-Convention,2973,Convention-Blomet,Invalide,2005-01-01,2019-06-01,"48.838634372743535,2.2932056027175345","{""coordinates"": [[2.2918783063, 48.8392381071]..."

### Saints-Peres

In [ ]:
df_sts = pd.read_csv("/content/drive/MyDrive/CentraleSupelec/3A/BCG_datathon/Data/sts-peres.csv",delimiter=";")

In [ ]:
df_sts

,Identifiant arc,Libelle,Date et heure de comptage,Débit horaire,Taux d'occupation,Etat trafic,Identifiant noeud amont,Libelle noeud amont,Identifiant noeud aval,Libelle noeud aval,Etat arc,Date debut dispo data,Date fin dispo data,geo_point_2d,geo_shape
0,191,Sts_Peres,2022-01-02T23:00:00+01:00,260.0,3.10555,Fluide,114,Sts_Peres-Voltaire,119,Sts_Peres-Universite,Invalide,2005-01-01,2019-06-01,"48.85728037123275,2.3324541907176717","{""coordinates"": [[2.3332577811, 48.858260067],..."
1,191,Sts_Peres,2022-01-02T13:00:00+01:00,422.0,5.34889,Fluide,114,Sts_Peres-Voltaire,119,Sts_Peres-Universite,Invalide,2005-01-01,2019-06-01,"48.85728037123275,2.3324541907176717","{""coordinates"": [[2.3332577811, 48.858260067],..."
2,191,Sts_Peres,2022-01-02T21:00:00+01:00,429.0,4.87667,Fluide,114,Sts_Peres-Voltaire,119,Sts_Peres-Universite,Invalide,2005-01-01,2019-06-01,"48.85728037123275,2.3324541907176717","{""coordinates"": [[2.3332577811, 48.858260067],..."
3,191,Sts_Peres,2022-01-03T00:00:00+01:00,250.0,2.87611,Fluide,114,Sts_Peres-Voltaire,119,Sts_Peres-Universite,Invalide,2005-01-01,2019-06-01,"48.85728037123275,2.3324541907176717","{""coordinates"": [[2.3332577811, 48.858260067],..."
4,191,Sts_Peres,2022-01-02T18:00:00+01:00,697.0,9.25667,Fluide,114,Sts_Peres-Voltaire,119,Sts_Peres-Universite,Invalide,2005-01-01,2019-06-01,"48.85728037123275,2.3324541907176717","{""coordinates"": [[2.3332577811, 48.858260067],..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9135,191,Sts_Peres,2022-10-31T14:00:00+01:00,428.0,6.23000,Fluide,114,Sts_Peres-Voltaire,119,Sts_Peres-Universite,Invalide,2005-01-01,2019-06-01,"48.85728037123275,2.332454190717672","{""coordinates"": [[2.3332577811223216, 48.85826..."
9136,191,Sts_Peres,2022-08-01T04:00:00+02:00,83.0,0.99222,Fluide,114,Sts_Peres-Voltaire,119,Sts_Peres-Universite,Invalide,2005-01-01,2019-06-01,"48.85728037123275,2.3324541907176717","{""coordinates"": [[2.3332577811, 48.858260067],..."
9137,191,Sts_Peres,2022-08-01T03:00:00+02:00,143.0,1.72778,Fluide,114,Sts_Peres-Voltaire,119,Sts_Peres-Universite,Invalide,2005-01-01,2019-06-01,"48.85728037123275,2.3324541907176717","{""coordinates"": [[2.3332577811, 48.858260067],..."
9138,191,Sts_Peres,2022-08-01T02:00:00+02:00,190.0,2.22778,Fluide,114,Sts_Peres-Voltaire,119,Sts_Peres-Universite,Invalide,2005-01-01,2019-06-01,"48.85728037123275,2.3324541907176717","{""coordinates"": [[2.3332577811, 48.858260067],..."
9139,191,Sts_Peres,2022-08-01T01:00:00+02:00,288.0,3.42722,Fluide,114,Sts_Peres-Voltaire,119,Sts_Peres-Universite,Invalide,2005-01-01,2019-06-01,"48.85728037123275,2.3324541907176717","{""coordinates"": [[2.3332577811, 48.858260067],..."

In [ ]:
df_sts.head(5)

,Identifiant arc,Libelle,Date et heure de comptage,Débit horaire,Taux d'occupation,Etat trafic,Identifiant noeud amont,Libelle noeud amont,Identifiant noeud aval,Libelle noeud aval,Etat arc,Date debut dispo data,Date fin dispo data,geo_point_2d,geo_shape
0,191,Sts_Peres,2022-01-02T23:00:00+01:00,260.0,3.10555,Fluide,114,Sts_Peres-Voltaire,119,Sts_Peres-Universite,Invalide,2005-01-01,2019-06-01,"48.85728037123275,2.3324541907176717","{""coordinates"": [[2.3332577811, 48.858260067],..."
1,191,Sts_Peres,2022-01-02T13:00:00+01:00,422.0,5.34889,Fluide,114,Sts_Peres-Voltaire,119,Sts_Peres-Universite,Invalide,2005-01-01,2019-06-01,"48.85728037123275,2.3324541907176717","{""coordinates"": [[2.3332577811, 48.858260067],..."
2,191,Sts_Peres,2022-01-02T21:00:00+01:00,429.0,4.87667,Fluide,114,Sts_Peres-Voltaire,119,Sts_Peres-Universite,Invalide,2005-01-01,2019-06-01,"48.85728037123275,2.3324541907176717","{""coordinates"": [[2.3332577811, 48.858260067],..."
3,191,Sts_Peres,2022-01-03T00:00:00+01:00,250.0,2.87611,Fluide,114,Sts_Peres-Voltaire,119,Sts_Peres-Universite,Invalide,2005-01-01,2019-06-01,"48.85728037123275,2.3324541907176717","{""coordinates"": [[2.3332577811, 48.858260067],..."
4,191,Sts_Peres,2022-01-02T18:00:00+01:00,697.0,9.25667,Fluide,114,Sts_Peres-Voltaire,119,Sts_Peres-Universite,Invalide,2005-01-01,2019-06-01,"48.85728037123275,2.3324541907176717","{""coordinates"": [[2.3332577811, 48.858260067],..."